<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

<title > javascript object tutorials </title>
<script type="text/javascript" th:src="@{/javascript/object.js}"> </script>

</head>

<body>

<!-- add a new value to the object -->
<script>

document.write(info.firstName + "<br>");

info.isActive = true; 

document.write(info.isActive + "<br>");

document.write(info.lastName + "<br>");


document.write(info.lastName + "<br>");

promptToObject();

let userObject = userInfo("mohamed", 27)

document.write(userObject["name"] + "<br>");

document.write("age" in userObject);


iterateInfo();


delete info.lastName;


document.write("<br> <br>");

document.write(cloneObject().isActive);


</script>


</body>

</html>